


<div class="form">

<h3> Create an Account </h3> 

<% if flash[:alert] %> 
  <div><%= flash[:alert] %> </div>
<% end %>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field username">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field email">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field password">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field password-conf">
    <%= f.label :confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

</div> 

