<h3><%= @order.is_cart ? "Shopping Cart" : "Order Number #{@order.id}" %></h3>

<table class="order-table">
  <thead>
    <tr>
      <th>ITEM</th>
      <th>QTY.</th>
      <th>ITEM PRICE</th>
      <th align="right">EXT. PRICE</th>
    </tr>
  </thead>
  <tbody>
    <% if @order.order_items.count == 0 %>
      <tr><td colspan="4" align="center">No Items in Your Cart!</td></tr>
    <% else %>
      <% total = 0 %>
    <% @order.order_items.each do |item| %>
      <tr>
        <td><img src="<%= item.product.img_url %>" height="100"> </br> <%= item.product.name %> </td>
        <td>
          <%= link_to "+", increase_path(item) if current_user && @order.is_cart %>
          <%= item.quantity %>
          <%= link_to "-", decrease_path(item) if current_user && @order.is_cart %>
        </td> 
        <td>$<%= item.product.price %></td>
        <td align="right">$<%= item.product.price * item.quantity %></td>
      </tr>
    <% total += (item.product.price * item.quantity) %>
    <% end %>
      <tr>
        <td colspan="3"></td><td align="right">Cart Total:&nbsp;&nbsp; $<%= total %></td></tr><% end %>
      <tr>
        <td colspan="3"></td><td align="right">
        <% if @order.is_cart && @order.order_items.count > 0 %><%= link_to page_path("congrats") do %><button type="button" class="checkout_button">CHECKOUT</button><% end %><% end %></td>
      </tr>
  </tbody>
</table>

<%= link_to "continue shopping", products_path %>

</body>

