
<h3>  </h3>

<table class="categories" align="center">
    <td><%= link_to "All", products_path %>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Bras", products_bras_path %>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Leggings", products_leggings_path %>&nbsp;&nbsp;|&nbsp;&nbsp;</td>
    <td><%= link_to "Outerwear", products_outerwear_path %></td>
    
</table>

<table style="width:75%" class="products-table" align="center">

  <% @products.each do |product| %> 

    <tr>
      <td>
      <% if current_user && current_user.admin == true %>
          <%= link_to "-", product_path(product), method: :delete, data: { confirm: "are you sure?" }%>
      <% end %>
      <img src="<%= product.img_url %>"></br></td>
      <td><%= product.name %></br></td> 
      <td>$<%= product.price %></td>
      <td>
        <% if current_user %> <%= link_to product_order_items_path(product), method: :post do %>
          <button type="button" class="cartbutton"> ADD TO CART </button>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% end %>

</table>

