<!DOCTYPE html>
<html>
  <head>
    <title>NuxActive</title>
    <%= csrf_meta_tags %>

    <script src="https://use.fontawesome.com/932405239d.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
<!--  <link rel="stylesheet" type="text/css" href="application.css"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<body>
  <nav class="navbar-brand">
    <%= link_to root_path do %>
      <img alt="Brand" src="http://i.imgur.com/mtLq4Hz.png">
    <% end %>
  </nav>
  <nav class="navbar-text">
    <%=link_to "Shop All", products_path%> 
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%=link_to "Our Story", page_path("about") %>
  </nav>

  <div class="cart">
    <% if current_user %>
    <%= link_to order_path(current_user.cart) do %>
      <i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>
    <% end %>
    <% else %>
    <i class="fa fa-shopping-bag fa-2x" aria-hidden="true"></i>
    <% end %>
  </div>
  
      <% if current_user %>
        Welcome, <%= current_user.name %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Sign Out', session_path('dummy'), method: :delete %>
      <% else %>
        <%= link_to 'Sign In', login_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Create Account', new_user_path %>
      <% end %>

    <%= yield %>
  </body>
</html>
